{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Logout" %}
{% endblock head_title %}
{% block content %}
<div class="row">
    <div class="col-8 mx-auto mt-5 text-center">
        <h1 class="display-4">{% trans "Sign Out" %}</h1>
    </div>
</div>
<div class="container sign-out-container">
    <div class="row">
        <div class="col-8 mx-auto mt-3 text-center">
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto mt-3 text-center">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark mb-3" type="submit">{% trans 'Sign out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
