{% extends "base.html" %}

{% load i18n%}

{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="row mx-auto">
    <div class="col-8 mx-auto mt-3 text-center">
        <h3>{% trans "Register" %}</h3>
    </div>
    <div class="container register-container mb-3">
        <div class="row">
            <div class="col-10 mx-auto mt-3 text-center">
                <p class="text-center">Please create an account in order to comment and like posts on this website!</p>
            </div>
            <div class="row">
                <div class="col-10 mx-auto mt-3 text-center mb-3">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-dark mt-3" type="submit">{% trans "Submit" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto mt-3 mb-3 text-center">
            <p class="small-grey">{% blocktrans %} Already have an account? <br><a class="link"
                    href="{{ login_url }}">Sign in </a> {% endblocktrans %}</p>
        </div>
    </div>
    {% endblock %}