/* General Styles */
p {
    margin-bottom: 0px;
}

/* Navbar */
.navbar-brand {
    margin-left: 10px;
}

.brand img {
    max-width: 40px;
}

/* Post List */

.pl-card {
    border: solid lightgray;
    background-color: white;
    padding: 0;
}

.image-container {
    position: relative;
}

.flash-date {
    position: absolute;
    top: 5%;
    min-width: 18%;
    right: -2px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.8)
}

.flash-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.pl-date {
    color: black;
    margin: 4px;
}

.post-link {
    text-decoration: none;
    color: black;
}

.pl-card-body {
    position: relative;
    padding: 5px;
}

.pl-likes {
    position: absolute;
    right: 5px;
}

/* Post Detail */
.featured-image {
    height: 65vh;
    object-fit: cover;
}

.pd-card {
    border: none;
}

.text-align-right {
    text-align: right;
}

.comments {
    border-radius: 5px;
    background-color: lightgray;
    margin-bottom: 10px;
}

/* Login */

.login-container {
    margin-top: 40px;
    border: solid;
    max-width: 500px;
}

.login > p {
    margin-bottom: 10px;
}

/* Register */

.register-container {
    margin-top: 40px;
    border: solid;
    max-width: 500px;
}

.signup > p {
    margin-bottom: 10px;
}

.signup > ul {
    color: grey;
    font-size: x-small;
}

/* Sign Out */
.sign-out-container {
    margin-top: 40px;
    border: solid;
    max-width: 500px;
}