{% extends "base.html" %}
{% blocktitle %}Add Your Event!{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container add-post-container mb-3">
    <div class="row mx-auto">
        <div class="col-8 mx-auto mt-3 text-center">
            <h1>Add Event</h1>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col mt-3 mb-3">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p | safe }}
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}