{% extends "base.html" %}

{% block content %}
{% if category_posts %}

<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col mx-auto mt-5 mb-3 text-center">
            <h1 class="display-4">{{ cats }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 mx-auto mt-3">
            <div class="row">
                {% for post in category_posts %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="pl-img-title-date">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top pl-img"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="">
                            {% else %}
                            <img class="card-img-top pl-img" src="{{ post.featured_image.url }}"
                                alt="{{ post.image_alt }}">
                            {% endif %}
                            <div class="flash-date">
                                <p class="pl-date">{{ post.start_date|date:"j M" }}</p>
                            </div>
                            <div class="flash-title d-flex justify-content-between">
                                <h5 class="mb-0 font-weight-light">{{ post.title }}</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.adress }}</p>
                            <p class="card-text">{{ post.start_time|time:"P" }} - {{ post.end_time|time:"P" }}</p>
                            <p class="card-text">{{ post.start_date|date:"j F" }}</p>
                            <p class="pl-likes">{{ post.number_of_likes }} <i class="far fa-heart fa-sm"></i></p>
                            <br>
                            <a class="stretched-link btn btn-light btn-sm shadow-none"
                                href="{% url 'post_detail' post.slug %}">Read more</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col mx-auto mt-5 mb-3 text-center">
            <h1 class="display-4">Ooops!</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col mx-auto mb-3 text-center">
            <p>Sorry this page does not exist...</p>
        </div>
    </div>
</div>
{% endif %}
<div class="row mt-3">
    <div class="col text-center mb-3">
        <a class="btn btn-dark" href="{% url 'post_list' %}" role="button">Back</a>
    </div>
</div>
{% endblock %}