{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <!-- Header -->
    <div class="row mx-auto">
        <div class="col-8 mx-auto mt-5 mb-3 text-center">
            <h1 class="display-4">All Events</h1>
        </div>
    </div>

    <!-- Categories Dropdown -->
    <div class="row">
        <div class="col-12 col-md-10 mx-auto mt-3 mb-4 text-center">
            {% if cat_menu %}
            <div class="dropdown">
                <button class="btn btn-light btn-sm dropdown-toggle " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for item in cat_menu %}
                    <a class="dropdown-item" href="{% url 'category_view' item|slugify %}">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Post List -->
    <div class="col-12 col-md-10 mx-auto mt-3">
        <div class="row">
            {% for post in post_list %}
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="pl-img-title-date">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top pl-img"
                            src="https://res-console.cloudinary.com/abroman/thumbnails/v1/image/upload/v1707304026/bWVkaWEvYmxvZy9jYXJsLXRyb25kZXJzLTFzMXdCWHdKYWxBLXVuc3BsYXNoX2M2dzRnaQ==/preview"
                            alt="">
                        {% else %}
                        <img class="card-img-top pl-img" src="{{ post.featured_image.url }}" alt="{{ post.image_alt }}">
                        {% endif %}
                        <div class="flash-date">
                            <p class="pl-date">{{ post.start_date|date:"j M" }}</p>
                        </div>
                        <div class="flash-title d-flex justify-content-between">
                            <h5 class="mb-0 font-weight-light">{{ post.title }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.adress }}</p>
                        <p class="card-text">{{ post.start_time|time:"P" }} - {{ post.end_time|time:"P" }}</p>
                        <p class="card-text">{{ post.start_date|date:"j F" }}</p>
                        <p class="card-text small-grey pt-2"><i>{{ post.category }}</i></p>
                        <p class="pl-likes">{{ post.number_of_likes }} <i class="far fa-heart fa-sm"></i></p>
                        <br>
                        <a class="stretched-link btn btn-light btn-sm shadow-none"
                            href="{% url 'post_detail' post.slug %}">Read more</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link shadow-none">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link shadow-none" href="#" tabindex="-1"
                    aria-disabled="True">Previous</a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
                <span class="page-link shadow-none">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link shadow-none" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number}}" class="page-link shadow-none">Next</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link shadow-none" href="#" tabindex="-1" aria-disabled="True">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}